/*--- NAV BAR ---*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fcfcfc; 
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: #6b6d74;
    text-align: center;
    font-size: 1.7em;
    font-family:"Trebuchet MS", Helvetica, sans-serif ;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #e6e6e6;}


ul.topnav li.right {
  float: right;
  margin-right: 20px;
  margin-left: 20px;
}


@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
/*--- NAV BAR ---*/



/* Attributes concerning navbar */
.navbarFrame{
    height: 65px;
}


/* Text attributes in navbar */
.navbarText{
    text-align:center;
    font-size: 1.45em;
}


.homeBG{
     background-color: #264d73; /* Green */
}

#homeTextBG{
    color:ghostwhite;
    text-align:center;
    font-size: 2.5em;
    margin-top:1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: .5em;
    font-family:"Georgia, serif";
}

#myButton {
    
    color: white;
    background-color:#336699;
    border-color: #336699;
    margin-bottom: 20px;
    font-size: 3em;
    justify-content:center;
}

.centerWrapper {
    text-align: center;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
}

footer {
    box-shadow: 0px 500px 0px 500px #474545;
}

.footerBg { 
      background-color: #474545; /* Black Gray */
      min-height:50px;
      color: #fff;
  }